.vocabulary {
    margin-top: 1rem;
    text-align: center;
}
.word {
    text-align: left;
    color: #20d0fc;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}
.date {
    float: right;
}
.display-definition {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1.5%;
    padding-bottom: 3rem;
}
.remove-button, .edit-button { 
    float: right;
}
.remove-button , .edit-button {
    border: solid black 2px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 10px;
}
.remove-button {
    margin-left: 1px;
}
.remove-button:hover, .edit-button:hover, .save-button:hover {
    background-color: rgb(64, 64, 64);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.save-button {
    display: none;
    margin-top: .5rem;
    margin-left: 30%;
    text-align: center;
    width: 10%;

    border: solid black 2px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px 10px; 
}
.addTerm {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: solid black 3px;
    background-color: skyblue;
    color: white;
    border-radius: 10px;
    font-size: 1em;
    padding: 10px;
    width: 10%;
}
.addTerm:hover {
    background-color: rgb(64, 64, 64);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.edit-word {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.edit-forms {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.word-label, .definition-label {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.edit-forms {
   display: none;
}
.enter-definition {
    display: none;
}
.enter-word {
    display: none;
    margin-bottom: 1rem;
}
.numbers {
    text-align: center;
    font-size: 15px;
}
@media (max-width: 1050px) {
    .display-definition {
        width: 75%;
        padding: 1.5%;
        padding-bottom: 1rem;
    }
    .word {
        font-size: 14px;
    }
    .enter-word {
        font-size: 12px;
    }
    .definition {
        font-size: 12px;
    }
    .enter-definition {
        font-size: 12px;
    }
    .remove-button, .edit-button {
        font-size: 10px;
    }
    .save-button {
        font-size: 10px;
        width: 15%;
    }
    .date {
        font-size: 10px;
    }
    .addTerm {
        font-size: 12px;
        width: 20%;
    }
}