a.top-links:hover {
    text-decoration: none;
}
a.top-link:hover {
    text-decoration: none;
    color: white;
}
a.top-link { 
    position: absolute; 
}
a.top-link:before {  
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.5s ease-in-out;
}
a.top-link:hover:before {
    visibility: visible;
    transform: scaleX(.75);
}
.home {
    margin-left: 0;
}
.about {
    margin-left: 4rem;
}
.add {
    margin-left: 8rem;
}
.search {
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
.search-button {
    margin-left: 51.5rem;
    z-index: 1;
    top: 10px;
    background-color: gray;
    border-radius: 5px;
    height: 30px;
    width: 35px;
}
.search-button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}
.search-button:hover > .search-icon {
    color: black;
}
.search-icon {
    display: block;
    color: white;
}
.display-definition {
    border: solid black 1px;
    border-radius: 5px;
    padding: .5rem;
    margin-top: .5rem;
}